.slider {
  min-height: 660px;
}

.photo {
  min-height: 630px
}

.navbar-fixed {
  opacity: 0.9;
}

.spacer {
  height: 70px;
  color: white;
}

#opacbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  padding: 10px;
}

.parallax-container {
  min-height: 800px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }
nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 15px;
  font-family: 'Josefin Sans';
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

body {
  font-family: 'Josefin Sans';
}

p {
  line-height: 2rem;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 50px;
  font-family: 'Josefin Sans' !important;
}

h2 {
  color: black;
  font-family: 'Josefin Sans' !important;
}

h3 {
  color: black;
  font-family: 'Josefin Sans' !important;
}

h5 {
  font-family: 'Josefin Sans';
  font-weight: 700;
}

footer.page-footer {
  margin: 0;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.pgame {
  margin-top: 20px;
  padding-left: 30px;
}

.rowfooter {
  text-align: center;
}

.row {
  margin: 20px;
  text-align: left;
}

.kyle {
  border-radius: 50%;
}

#logo-helmet {
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact {
  text-align: center;
}

.quote {
  text-align: center;
}

#projects {
  color:black;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.galery {
  min-height: 300px !important;
  box-shadow: 15px 15px 5px #888888;
  margin-top: 15px;
}
