@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

}

/*REGULAR PHONES*/
@media only screen
  and (max-device-width: 600px){
  #sliderimage {
    width: 100%;
    align-content: center;
    }
  .spacer {
  height: 70px;
  color: black;
  text-align: center;
    }

 #index-banner .section {
    top: 0;
    }
  .view {
    width: 200px;
    height: 140px;
    margin: 0px;
    float: center;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
  }
  .view .mask, .view .content {
    width: 200px;
    height: 140px;
    position: absolute;
    overflow: hidden;
    top: 0;
  }
}


/*LARGE PHONE TO TABLET SIZE*/
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1024px){
  #sliderimage {
    width: 100%;
    align-content: center;
    }
 .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
.spacer {
  height: 70px;
  color: black;
  text-align: center;
  }
}


/*DESKTOP TO LARGE SCREEN SIZE*/
@media screen
  and (min-device-width: 1025px){
  #sliderimage {
    width: 100%;
    align-content: center;
    }
  }

.slider {
  min-height: 660px;
}

.photo {
  min-height: 630px
}

.navbar-fixed {
  opacity: 0.9;
}

.spacer {
  height: 70px;
  color: black;
  text-align: center;
  font-size: 3em;
  font-family: 'Josefin Sans';
}

#opacbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  padding: 10px;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}


nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 28px;
  font-family: 'Josefin Sans';
}

body {
  font-family: 'Josefin Sans';
}

p {
  line-height: 2rem;
  text-align: center;
  font-size: 15px;
}

h1 {
  font-weight: 100;
  font-size: 50px;
  font-family: 'Josefin Sans' !important;
}

h2 {
  color: black;
  font-family: 'Josefin Sans' !important;
}

h3 {
  color: black;
  font-family: 'Josefin Sans' !important;
}

h5 {
  font-family: 'Josefin Sans';
  font-weight: 700;
}

footer.page-footer {
  margin: 0;
}

.button-collapse {
  color: #26a69a;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.pgame {
  margin-top: 20px;
  padding-left: 30px;
}

.rowfooter {
  text-align: center;
}

.row {
  margin: 20px;
  text-align: left;
}

.kyle {
  border-radius: 50%;
}

#logo-helmet {
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact {
  text-align: center;
}

.quote {
  text-align: center;
}

#projects {
  color:black;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.galery {
  min-height: 300px;
  box-shadow: 15px 15px 5px #888888;
  margin-top: 15px;
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.joinin {
  position: relative;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.joinin img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.joinin:hover img {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  background: url(http://www.blontourage.net);
  pointer-events: auto;
}



/*Job responsiveness */
.jobs {display: flex;}

.view-sixth img {
  transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask{
  background-color: rgba(146,96,91,0.5);
  opacity:0;
  transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2{
  opacity:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
  opacity:0;
    transform: scale(10);
  transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info {
  opacity:0;
    transform: translateY(100px);
  transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {
  opacity:1;
  transition-delay: 0s;
}
.view-sixth:hover img {
  transition-delay: 0s;
}
.view-sixth:hover h2 {
  opacity: 1;
    transform: scale(1);
  transition-delay: 0.1s;
}
.view-sixth:hover p {
  opacity:1;
    transform: scale(1);
  transition-delay: 0.2s;
}
.view-sixth:hover a.info {
  opacity:1;
    transform: translateY(0px);
  transition-delay: 0.3s;
}

.view {
    width: 600px;
    height: 440px;
    margin: 0px;
    float: center;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.noelle {
    height: 500px;
    width: auto;
}

.glamor {
    height: 600px;
    width: auto;
}

.airForce {
    height: 600px;
    width: auto;
}

.face {
    height: 500px;
    width: auto;
}

.view .mask, .view .content {
    width: 444px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
