/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



nav ul a,
nav .brand-logo {
  color: #444;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

p {
  line-height: 2rem;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

h2 {
  color: black;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

footer.page-footer {
  margin: 0;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.pgame {

  margin-top: 20px;
  padding-left: 30px;
}

.rowfooter {
  text-align: center;
}

.row {
  margin: 20px;
  text-align: left;
}

.kyle {
  border-radius: 50%;
}

#logo-helmet {
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.star-wars {
  background-image: url("../image/star-wars.png");
  background-size: cover;
  margin: 5px;
  max-width: 425px;
  height: 240px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.blontourage {
  background-image: url("../image/blontourage.png");
  background-size: cover;
  margin: 5px;
  max-width: 425px;
  height: 240px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.riders {
  background-image: url("../image/riders.jpg");
  background-size: cover;
  margin: 5px;
  max-width: 425px;
  height: 240px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.wander {
  background-image: url("../image/wander.png");
  background-size: cover;
  margin: 5px;
  max-width: 425px;
  height: 240px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.contact {
  text-align: center;
}




